* {
	box-sizing: border-box;
}
body {
	margin: 0;
	background: #282828;
	color: white;
	font-size: 36px;
}
h1, .h1 	{ font-size: 120px; font-weight: bolder; }
h2, .h2 	{ font-size: 90px; font-weight: bolder; }
h3, .h3 	{ font-size: 60px; font-weight: bolder; }
h4, .h4 	{ font-size: 40px; font-weight: bolder; }
section {padding:15px;}
@media (max-width: 768px) {
	body 	{ font-size: 26px; }
	h1, .h1 { font-size: 85px; }
	h2, .h2 { font-size: 60px; }
	h3, .h3 { font-size: 40px; }
	h4, .h4 { font-size: 30px; }
}
@media (max-width: 576px) {
	body 	{ font-size: 16px; }
	h1, .h1 { font-size: 60px; }
	h2, .h2 { font-size: 50px; }
	h3, .h3 { font-size: 30px; }
	h4, .h4 { font-size: 24px; }
}

a.cmd {
	color: yellow;
}
a.cmd:hover {
	color: yellowgreen;
}